a{
  text-decoration: none;
}
.active{
  text-decoration: underline;
}
.header{
        margin: 0 0 20px 0px ;
        /* height: 68px; */
      } 
.header-container{
        padding: 10px;
        display: flex;
        color: #FF6060;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
      img{
        width: 70%; 
        object-fit: fill;
        object-position: center;
        cursor: pointer;
      }
      .img-logo{
        height: 30px;
        
      }
      .menu{
        list-style: none;
        display: flex;
        justify-content: space-between;
        width: 22%;
      }
      
      .menu__item{
        color: #FF6060;
        text-align: right;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 142.6%; /* 34.224px */
        text-decoration-line: none;
        cursor: pointer;
      }

      @media screen and (max-width: 768px) {
        .header{
          margin: 0 ;
          padding-top: 20px;
        }
        .header-container{
          padding: 10px;
          flex-direction: column;
          justify-content: center;
          align-content: center;
        }
        .img-logo{
          margin: 0 0 10px 0;
          display: flex;
          justify-content: center;
          height: 50px;
        }
        .menu{
          padding: 0;
          list-style: none;
          width: 80%;
        }
      }