<div *ngIf="logement" class="contaiiner">
  <div>
    <div>
      <!-- <Gallery key={{logement.pictures.length}} pictures={{logement.pictures}} /> -->
    </div>
    <div class="avatar__tag__section">
      <div class="tag-blog">
        <div class="text">
          <h2 class="text__name">{{ logement.title }}</h2>
          <p class="text__localisation">{{ logement.location }}</p>
        </div>
        <div *ngFor="let tag of logement.tags" class="tag-section">
             <app-tag [tag]="tag" ></app-tag>
        </div>
      </div>
      <div class="avatar-section">
        <app-avatar [host]="logement.host"></app-avatar>
      </div>
    </div>
    <div class="logement-details">
      <span class="description">
        <app-dropdown
          [title]="descriptionTitle"
          [content]="logement.description"
          [type]="0"
        ></app-dropdown>
      </span>
      <span class="description">
        <app-dropdown
          [title]="equipementTitle"
          [content]="logement.equipments"
          [type]="1"
        ></app-dropdown>
      </span>
    </div>
  </div>
</div>
<div *ngIf="!logement">Aucun logement a afficher !</div>
