.logement-details{
        display: flex;
        justify-content: space-between;
        width: 100%;
}

.avatar__tag__section{
        display: flex;
        width: 100%;
        justify-content: space-between;
}

.avatar-section{
        width: 50%;
}

.text__name{
    color: #FF6060;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
}

.text__localisation{
        color: #FF6060;
        font-family: Montserrat;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 142.6%; /* 25.668px */
}
 
.tag-section{
        display: flex;
} 

.text__name{
    color: #FF6060;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
}

.text__localisation{
        color: #FF6060;
        font-family: Montserrat;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 142.6%;
}

.description{
        width: 47%;
}

.aucun_pokemon{

        text-align: center;
        font-weight: bold;
        font-size: 100px;
        height: 500px;
        color: #FF6060;
}


@media screen and (max-width: 768px) {
.avatar__tag__section{    
        flex-direction: column;       
}
.logement-details{
 flex-wrap: wrap;
}
.description{
        width: 100%;
}    
.text__name{
        font-size: 18px;
    } 
.tag-blog{
        flex-wrap: wrap;
        display: flex;
        /* background-color: blueviolet; */
        align-items: center;
        justify-content: center;
}
.text{
        width: 100%;
}
.tag-section{
    justify-content: start ;   
    width: 100%;
}
.avatar-section{
        width: 100%;
}

}